<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="ROLLING" fileName="d:/logs/alslog.log"
			filePattern="d:/logs/alslog_%d{yyyy-MM-dd}_%i.log">
			<PatternLayout pattern="%d %p %c{1.} [%t] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true"
					interval="24" />
				<SizeBasedTriggeringPolicy size="51200 KB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>

	</appenders>

	<!--
		loggers标签，用于定义logger的lever和所采用的appender， 其中appender-ref必须为先前定义的
		appenders的名称，例如，此处为Console。 那么log就会以appender所定义的输出格式来输出log。
	-->
	<loggers>
		<!-- root标签为log的默认输出形式 -->
		<root level="debug">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="ROLLING"/>
		</root>
		
	</loggers>
</configuration>  